
<div class="trakt-embed">
    <h3>Last Watched on Trakt</h3>

    <div class="item">
        <img class="item-image" src="https://image.tmdb.org/t/p/w200/maBJkaBM4UqAttn9UkLCfZEVEfk.jpg" alt="Superstore">
        <div class="item-details">
            <p><strong>TV Show:</strong> Superstore</p>
            <p><strong>Episode:</strong> Seasonal Help (S02E09)</p>
            <p class="timestamp">Watched: 2024-09-15 00:31:38 UTC</p>
        </div>
    </div>
    
    <div class="item">
        <img class="item-image" src="https://image.tmdb.org/t/p/w200/23oJaeBh0FDk2mQ2P240PU9Xxfh.jpg" alt="Jujutsu Kaisen 0">
        <div class="item-details">
            <p><strong>Movie:</strong> Jujutsu Kaisen 0 (2021)</p>
            <p class="timestamp">Watched: 2024-09-14 20:33:11 UTC</p>
        </div>
    </div>
    </div>